{% extends 'layout.html.twig' %}
{% block content %}

		<div class="card w-75 mx-auto">
			<div class="card-body">
				<h5 class="card-title align-center">Bienvenue Chez Hibou !</h5>
				<p class="card-text"></p>
				<p>Le restaurant chinois qui vous fera chouette-ment voyager ! Pour le moment, notre restaurant n'est disponible qu'à emporter, mais cela ne vous empêchera pas de savourer nos délicieuses spécialités chinoises depuis le confort de votre foyer.<br>
					Chez Hibou, c'est un peu comme un voyage en Chine, sans avoir à prendre l'avion. <br> Dès que vous franchissez notre porte, vous serez transporté dans un univers unique où les saveurs exotiques se mélangent pour créer une explosion de goûts en bouche.<br>

					Notre équipe est passionnée par la cuisine chinoise et cela se ressent dans nos plats. Nous utilisons uniquement des ingrédients frais et de qualité pour concocter des plats authentiques qui raviront vos papilles. <br> Et si vous êtes curieux de découvrir de nouveaux plats, notre chef se fera un plaisir de vous faire découvrir les spécialités de la maison.<br>

					Alors si vous cherchez un restaurant chinois à Bordeaux qui sort de l'ordinaire, ne cherchez plus ! <br> Chez Hibou est l'endroit idéal pour passer une soirée gourmande et festive entre amis ou en famille, même depuis chez vous. Venez nous rendre visite et laissez-vous surprendre par nos délicieuses spécialités chinoises à emporter
				</p>

			</p>


		</div>
	</div>
{% endblock %}
