{% extends 'layout.html.twig' %}
{% block content %}


<div class="card w-75 mx-auto">
			<div class="card-body">
				<h5 class="card-title align-center">Service client Chez Hibou !</h5>
				<p class="card-text"></p>
	<p>Le restaurant chinois qui vous fera chouette-ment voyager ! Pour le moment, notre restaurant n'est disponible qu'à emporter, mais cela ne vous empêchera pas de savourer nos délicieuses spécialités chinoises depuis le confort de votre foyer.</p>
	<p>Chez Hibou, nous sommes disponibles pour répondre à toutes vos questions et demandes de renseignements. N'hésitez pas à nous contacter pour toute information supplémentaire ou pour passer une commande.</p>
	<p>Notre équipe est à votre disposition pour vous offrir un service client de qualité et répondre à toutes vos attentes. Nous sommes passionnés par la cuisine chinoise et nous mettons tout en œuvre pour vous offrir des plats authentiques et savoureux.</p>
	<p>Pour nous contacter, vous pouvez nous envoyer un e-mail à l'adresse suivante : <a href="mailto:contact@chezhbou.com">contact@chezhbou.com</a> ou nous appeler au numéro de téléphone : 05 56 12 34 56.</p>
	<p>Merci de votre confiance et à bientôt chez Chez Hibou !</p>
</div>
</div>
{% endblock %}