{% extends "layout.html.twig" %}
{% block sideNav %}
	{% include 'Components/_sideNavProfile.html.twig' %}
{% endblock %}

{% block content %}
	<div class="container d-flex flex-column align-items-left">
		<h1>
			Mes données personnelles
		</h1>


		<form action="" method="post" style="text-align:left;">
			<div class="mb-3">
				<input type="hidden" value="{{ user.id }}" name="id">
				<input type="email" value="{{ user.email }}" name="title">
				<label for="email" class="form-label">Email</label>
				{# <input class="form-control" type="email" id="email" name="email" required readonly> #}
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Mot de passe</label>
				<input class="form-control" type="password" id="password" name="password" required>
			</div>

			<div class="mb-3">
				<label for="firstname" class="form-label">Prénom</label>
				<input class="form-control" type="text" id="firstname" name="firstname" required>
			</div>
			<div class="mb-3">
				<label for="lastname" class="form-label">Nom</label>
				<input class="form-control" type="text" id="lastname" name="lastname" required>
			</div>
			<div class="mb-3">
				<label for="dob" class="form-label">Numéro de téléphone<input class="form-control" type="text" id="phone_number" name="phone_number" required></label>

			</div>
			<div class="mb-3">
				<label for="address" class="form-label">Adresse principale</label>
				<input class="form-control" type="text" id="address" name="address" required>
			</div>

			<div class="mb-3">
				<label for="adress_2" class="form-label">Adresse secondaire </label>
				<input class="form-control" type="text" id="adress_2" name="adress_2">
			</div>

			<div class="mb-3">
				<button type="submit" class="btn btn-dark btn-block">Enregistrer les modifications</button>
			</div>

			<div class="mb-3">
				<button type="reset" name="reset" value="Annuler" class="btn btn-dark btn-block">Annuler les modifications</button>
			</div>
		</form>
	</ul>

</div>{% endblock %}
