{% extends "layout.html.twig" %}
{% block content %}
	<div class="container" style="margin-top: 10%; text-align: center;min-height: calc(100vh - 60px);">
		<div class="col-md-6 offset-md-3" style="margin-bottom: 60px;">
			<div class="col-md-6 offset-md-3">
				<h1>Créer un compte</h1>
				<p>Veuillez renseigner vos informations personnelles pour créer un compte.</p>
				<form action="" method="post" style="text-align:left;">
					<div class="mb-3">
						<label for="email" class="form-label">Email</label>
						<input class="form-control" type="email" id="email" name="email" required>
					</div>
					<div class="mb-3">
						<label for="password" class="form-label">Mot de passe</label>
						<input class="form-control" type="password" id="password" name="password" required>
					</div>

					<div class="mb-3">
						<label for="firstname" class="form-label">Prénom</label>
						<input class="form-control" type="text" id="firstname" name="firstname" required>
					</div>
					<div class="mb-3">
						<label for="lastname" class="form-label">Nom</label>
						<input class="form-control" type="text" id="lastname" name="lastname" required>
					</div>
					<div class="mb-3">
						<button type="submit" class="btn btn-dark btn-block">Créer un compte</button>
					</div>


				</form>
			</div>
		</div>
	</div>
{% endblock %}
