 <footer class=" class="text-center text-white mt-4" style="background-color: #607d8b; position: fixed; bottom: 0; width: 100%;" style="background-color: #607d8b">

        <div class="container">
  
            <section class="mb-3">
             <!-- Accueil -->
                <a class="btn-link btn-floating btn-lg text-white m-2" href="/" role="button"
                    data-mdb-ripple-color="dark">Accueil</a>

                <!-- Le concept -->
                <a class="btn-link btn-floating btn-lg text-white m-2" href="restaurant/presentation" role="button"
                    data-mdb-ripple-color="dark">Le concept</a>

                <!-- Service client-->
                <a class="btn-link btn-floating btn-lg text-white m-2" href="#!" role="button"
                    data-mdb-ripple-color="dark">Service client</a>
                

  
            </section>
            <!-- Section: Social media -->
        </div>
     
    </footer>