
        <footer class="text-center text-white mt-4" style="background-color: #010004">
<<<<<<< HEAD
      
=======
        <!--Call to action-->
        <div class="pt-1 pb-2 bg-white">
            <img src="/assets/img/logo.jpg" alt="logo Le Hibou" class="logo-footer">
            <p class="adress">LE HIBOU 7 rue de la bambouseraie 33000 Bordeaux </p>
        </div>
>>>>>>> 5dc9b06da280365d58a091e4cb34ab035bb6eba4
        <!--/.Call to action-->

        <hr class="text-dark" />

        <div class="container">
            <!-- Section: Social media -->
            <section class="mb-3">
                

               
 <!-- Accueil -->
                <a class="btn-link btn-floating btn-lg text-white m-2" href="/" role="button"
                    data-mdb-ripple-color="dark">Accueil</a>

                <!-- Le concept -->
                <a class="btn-link btn-floating btn-lg text-white m-2" href="restaurant/presentation" role="button"
                    data-mdb-ripple-color="dark">Le concept</a>

                <!-- Service client-->
                <a class="btn-link btn-floating btn-lg text-white m-2" href="restaurant/serviceClient" role="button"
                    data-mdb-ripple-color="dark">Service client</a>
                 </section>  
                 <section>
                 <!-- Facebook -->
                <a class="btn-lirnk btn-floating btn-lg text-white" href="#!" role="button" data-mdb-ripple-colo="dark"><i class="fab fa-facebook-f"></i></a><!-- Twitter 
                <a class="btn-link btn-floating btn-lg text-white" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>-->

                <!-- Google 
                <a class="btn-link btn-floating btn-lg text-white" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>-->
                <!-- Instagram -->
                <a class="btn-link btn-floating btn-lg text-white" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

                <!-- YouTube -->
                <a class="btn-link btn-floating btn-lg text-white" href="#!" role="button" data-mdb-ripple-color="dark"><i class="fab fa-youtube"></i></a>
                <!-- 
                <a class="btn-link btn-floating btn-lg text-white" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>Github -->
            
            <!-- Section: Social media -->
            </section>
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2022 SARL LE HIBOU - Tous droits réservés-Mentions légales
            <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
    </footer>
