
<div class="d-flex pt-5">
		<div class="d-flex pt-5">
			<!-- Sidebar -->
			<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white pt-5">
				<div class="position-sticky">
					<div class="list-group list-group-flush mx-3 mt-4">
						<a href="/item/entrees?type=entree" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
							<img class="icone" src="/assets/images/entrées.png" alt="icone entrées"/>
							<span>Entrées</span>
						</a>
						<a href="/item/platschauds?type=platschauds" class="list-group-item list-group-item-action py-2 ripple">
							<img class="icone" src="/assets/images/platschauds.png" alt="icone plats chauds"/>							
							<span>Plats chauds</span>
						</a>
						<a href="/item/platsfroids?type=platsfroids" class="list-group-item list-group-item-action py-2 ripple">
							<img class="icone" src="/assets/images/platsfroids.png" alt="icone plats froids"/>							
							<span>Plats froids</span>
						</a>
						<a href="/item/salades?type=salade" class="list-group-item list-group-item-action py-2 ripple">
							<img class="icone" src="/assets/images/salade.png" alt="icone salade"/>							
							<span>Salades</span>
						</a>
						<a href="/item/accompagnements?type=accompagnement" class="list-group-item list-group-item-action py-2 ripple">
							<img class="icone" src="/assets/images/accompagnement.png" alt="icone accompagnements"/>							
							<span>Accompagnements</span>
						</a>
						<a href="/item/desserts?type=dessert" class="list-group-item list-group-item-action py-2 ripple">
							<img class="icone" src="/assets/images/desserts.png" alt="icone dessert"/>							
							<span>Desserts</span>
						</a>
						<a href="/item/boissons?type=boissons" class="list-group-item list-group-item-action py-2 ripple">
							<img class="icone" src="/assets/images/boissons.png" alt="icone boisson"/>							
							<span>Boissons</span>
						</a>
					</div>
				</div>
			</nav>
		</div>
